
<div style="margin:auto;">
    <img [src]="fullImagePath" style="height:150px">
    <h3>PWR</h3>
</div>
<div style="width:100%; display:inline-flex">
    <mat-spinner *ngIf="Loading" style="margin:auto"></mat-spinner>
    <div style="min-width:300px; width:30%;">
        <mat-list>
            <mat-card mat-subheader *ngFor="let page of WebsiteList" style="margin:5px">
                <mat-card-header>
                    <h3>{{page.Name}}</h3>
                </mat-card-header>
                <mat-card-content>
                    <mat-list-item *ngFor="let item of page.OptionList" >
                        <button mat-raised-button color="warn" (click)="ChangePage(page, item.Id)" style="margin-bottom:5px">{{item.Technique == 1 ? 'Metoda Haszowa' : 'Metoda Regex'}}</button>
                    </mat-list-item>
                </mat-card-content>
            </mat-card>
        </mat-list>
    </div>
    <div style="min-width:500px; width:70%; margin-top:5px;">
        <div *ngIf="childWeb && childOptionId">
            <website #page [WebsiteMenu]="childWeb" [OptionId]="childOptionId"></website>
        </div>
        <mat-card *ngIf="!childWeb && !childOptionId" >
            <h3>Autorzy:</h3>
            <p>Kamil Sikorski</p>
            <br />
            <p>Bartek Wojciechowski</p>
            <br />
            <p>Marcin Sosiński </p>
        </mat-card>
    </div>
</div>
